body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
